<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.farmer.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.example.farmer.home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.example.farmer.farmer_login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.farmer_login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
          
           <activity
            android:name="com.example.farmer.farmer_img"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.farmer_img" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.farmer_profile"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.farmer_profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.farmer.login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.farmer.register"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.register" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.farmer.Drawer"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.drawer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
      
    </application>

</manifest>
